html, body {
	background-color: #000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	cursor: url("https://totl.us/social/images/mouseIcon.png"), auto;
}

#socialContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #000;
}

#loaderContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #000;
    opacity: 1;
    transition: opacity 1s;
    pointer-events: none;
    z-index: 99;
}

#loader {
    position: absolute;
    height: 47.5px;
    width: 350px;
    top: calc(45% - 60px);
    left: calc(50% - 175px);
    z-index: 99;
}

#loadGif {
    position: absolute;
    height: 100%;
    width: 75%;
    top: -5%;
    left: 12.5%;
    object-fit: cover;
}

#galleryIcon {
    position: absolute;
    height: 60px;
    width: 60px;
    right: 1.5%;
    top: 2.5%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 20px 10px rgb(0 0 0 / 15%);
    border-radius: 999px;
    border: solid;
    border-width: 0px;
    border-color: #fff;
    opacity: 0.7;
    z-index: 5;
}

#playIconText {
    position: absolute;
    width: 90px;
    left: -15px;
    bottom: -55%;
    font-size: 0.7rem;
    color: #fff;
    font-weight: 400;
    font-family: Montserrat;
    text-align: center;
}

#addIcon {
    position: absolute;
    height: 60px;
    width: 60px;
    right: 1.5%;
    top: calc(2.5% + 80px);
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 10px 20px 10px rgb(0 0 0 / 15%);
    border-radius: 999px;
    /* border: none;
    border-width: 1px;
    border-color: #fff; */
    opacity: 0.7;
    transition: height 0.5s;
    overflow: hidden;
    z-index: 5;
}

#watchIconText {
    position: absolute;
    width: 90px;
    left: -15px;
    bottom: -55%;
    font-size: 0.7rem;
    color: #fff;
    font-weight: 300;
    font-family: Montserrat;
    text-align: center;
}

#galleryLabel {
    position: absolute;
    height: 50px;
    width: 250px;
    top: calc(2.5% + 6px);
    right: calc(1.5% + 60px);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-family: Montserrat;
    text-align: right;
    font-size: 0.8rem;
    line-height: 45px;
    padding-right: 20px;
    border-radius: 999px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 5;
}

#addLabel {
    position: absolute;
    height: 50px;
    width: 250px;
    top: calc(2.5% + 87.5px);
    right: calc(1.5% + 60px);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-family: Montserrat;
    text-align: right;
    font-size: 0.8rem;
    line-height: 45px;
    padding-right: 20px;
    border-radius: 999px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 5;
}

#browserLabel {
    position: absolute;
    height: 50px;
    width: 250px;
    top: calc(2.5% + 150px);
    right: calc(1.5% + 60px);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-family: Montserrat;
    text-align: right;
    font-size: 0.8rem;
    line-height: 45px;
    padding-right: 20px;
    border-radius: 999px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 5;
}

#gameLabel {
    position: absolute;
    height: 50px;
    width: 250px;
    top: calc(2.5% + 210px);
    right: calc(1.5% + 60px);
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-family: Montserrat;
    text-align: right;
    font-size: 0.8rem;
    line-height: 45px;
    padding-right: 20px;
    border-radius: 999px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 5;
}

#threejscontainer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 1;
}

#hbcontainer {
	position: fixed;
	visibility: hidden;
	border-radius: 30px;
	overflow: hidden;
	z-index: 1;
}

#backgroundImg {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	pointer-events: none;
	object-fit: cover;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#bottomText {
	position: absolute;
	width: 100%;
	top: 6%;
	color: #fff;
	font-size: 0.85rem;
	font-weight: 400;
	font-family: Montserrat;
	opacity: 0.8;
	text-align: center;
	padding: 0px;
	margin: 0px;
	transition: opacity 1s;
	pointer-events: none;
}
